

<% layout("./layouts/boilerplate.ejs") %>

<div class="row" >
    <div class="alert alert-danger col-8 offset-2 mt-3" role="alert">
        <h1> <%= err.name %></h1>
        <h4 class="error-heading"> <%= err.message %></h4>

        <!-- To print the whole path of the error -->
        <!-- <p> <%= err.stack %></p> --> 
    </div>
</div>