

body{
    display:flex;
    flex-direction: column;
    min-height:100vh;
    position:relative;
}

.container{
    flex:1;
}

.navbar{
    height:4rem;
    background-color: white;
}

.nav-link{
    color:#222222 !important; 
    /* It overwrite the styling of bootstrap */
}

.fa-compass{
    color:#fe424d;
    height:2rem;
}


        /* Footer Styling  */

.f-info-links a{
    text-decoration: none;
    color:#222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info{
    height:6rem;
    background-color: #ebebeb;
    display:flex;
    justify-content:center;
    align-items: space-evenly;
    flex-wrap: wrap;
    text-align: center;
}

.f-info-socials i{
    margin-right: 0.6rem;
    margin-top:0.6rem;
    font-size: 1.2rem;
}


.f-info-links , .f-info-socials , .f-info-brand{
    width:100%;
}


        /* Card Styling */

.card{
    border:none !important;
    margin:0.5rem;
}

.cardReview{
    border: 1px solid rgb(70, 69, 69) !important;
}

.card-header{
    border-radius: 1rem !important;
}

.card-img-top{
    object-fit: cover !important;
    border-radius: 1rem !important;
    width:100% !important;
    height:45% ;
}

.height{
    max-height: 300px;
    object-fit: cover; 
    /*  Ensures the image covers the area without distorting  */
} 

.card-text{
    padding:0 !important;
    font-size: 100% !important;
}

.listing-link{
    text-decoration: none !important;
}

        /* Card Effect */

.card-img-overlay{
    opacity:0;
}


.card-img-overlay:hover{
    opacity:0.2;
    background-color: grey;
}

.btn-editDelete{
    font-size:1.1rem !important;
    width: 20rem !important;

}

.add-btn{
    background-color: #fe424d !important;
    border:none !important;
}

            /* Delete and Edit button */
    
.del-btn{
    background-color:#fe424d;
    border:none;
    font-size: 2.5rem !important;
    color:#ebebeb;
    padding:0.5rem;
    border-radius:1rem !important;
    position:absolute;
    left:40rem;
    bottom:9rem;
    width:7rem !important;
}

.edit-btn{
    background-color:#222222;
    border:none;
    font-size: 2.5rem !important;
    width:7rem !important;
    text-align: center;
    padding:0.5rem;
    text-decoration: none;
    color:#ebebeb;
    border-radius:1rem !important;
    position:absolute;
    left:30rem;
    bottom:9rem;
}

/* .editImg{
    height:15% !important;
    width:15%;
} */

/* For range */
.form-content{
    width:100%;
}

/* Map Styling */
#map {
    height:500px;
    width:100vh;
}





